@font-face {
   font-family: 'GoogleSans-Regular';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-10-01_222759/fonts/GoogleSans-Regular/font.ttf');
}
